#container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#map {
    grid-column: span 4;
    height: 600px;
}
#listZone{
    grid-column: span 1;
    margin-left: 10%;
}
#formulaire{
    grid-column: span 1;
}